
src/
node_modules/
.gitignore

#tests
test/
coverage/
.jest/
jest.config.json

#build tools
.travis.yml
.jenkins.yml
.codeclimate.yml
tsconfig.json
yarn.lock
.babelrc
.huskyrc

#linters
.jscsrc
.jshintrc
.eslintrc*
.prettierrc

#editor settings
.idea
.editorconfig
.vscode/